.currentBoard {
    width: 100%;
    min-width: 400px;
    height: fit-content;
    padding: 2em;
    display: flex;
    position: relative;
    justify-content: center;
   
}

.currentWeatherData {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2em;
    width: 100%;
    position: relative;
    font-size: 16px;
    margin-bottom: 1.5em;
    transform: translate(-50%,0%);
   
}

.weatherSection {
    font-size: 15em;
    position: relative;
    display: flex;
   
}

.weatherSection img {
    width: 130px;
    height: 100px;
    align-self: center;
}

.weatherSection div{
    transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);

}

.weatherDegree {
    font-size: 4rem;
    position: absolute;
    top:0%;
    right:-10%;
    margin-left: 1em;

}

.weatherConditionsSection img{
   width: 35px;
}

.weatherConditionsSection div {
    display: flex;
    gap: 1em;
    margin-bottom: .5em;

}

@media (max-width: 460px) {
    .currentWeatherData {
        font-size: 13px;
   
    }
    .weatherSection {
        font-size: 5em;
    }
    .currentBoard {
        width: 100%;
    }

}