.currentBoard {
    width: 100%;
    min-width: 400px;
    height: fit-content;
    padding: 2em;
   
}



.date {
    letter-spacing: .1em;
    font-weight: 300;
    margin-bottom: .5em;
}

.currentWeatherData {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2em;
    height: 100%;
    width: 100%;
    font-size: 16px;
   
}

.weatherSection {
    font-size: 15em;
    position: relative;
    display: flex;
    width: 100%;
   
}
.weatherSection img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.weatherSection div{
    transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);

}

.weatherDegree {
    font-size: 4rem;
    position: absolute;
    top:0%;
    right:-30%;
    margin-left: 1em;

}

.weatherConditionsSection img{
   width: 35px;
}

.weatherConditionsSection div {
    display: flex;
    gap: 1em;
    margin-bottom: .5em;

}

@media (max-width: 460px) {
    .currentWeatherData {
        font-size: 13px;
        background-color: aquamarine;
    }
    .weatherSection {
        font-size: 5em;
    }
    .currentBoard {
        width: 100%;
    }

}