.switch {
    display: inline-block;
    position: relative;
    width: 80px;
    color: black;
    font-size: 1.2rem;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    justify-content: space-between;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #58585841;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    transition: .4s;
    width: 50%;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  