.App {
  background: url(./Assets/backgroundApp.png);
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   width: 100vw;

}
