.App {
  background: url(./Assets/backgroundApp.png);
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   padding: 2em;

}
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
}
