.header {
    width: 60%;
    min-width:  320px;
  
}

.header img {
    display: block;
    margin: 0 auto;
}

.locationIcon {
    width: 25px;
}
.container {
    display: flex;
}
.location {
    margin: 1.5em 0;
    width: 100%;
    display: flex;
    padding: 0.5em 1em;
    justify-content: space-between;

}